<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @emp_name %></h1>
    <p>
    Username: <%= @emp_ID %><br/>
    Passwords: <%= @emp_pass %><br/>
    </p>
    <p>
      To login to the site,follow this link: <%= @url %>.
    </p>
   </body>
</html>