// Place all the styles related to the EmpDeclarations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.section0 {
margin-left:5em;
margin-right:50em;
text-align: left;
border:1px solid #00cccc;   position:relative
}

.section1 {
margin-left:5em;
  margin-right:50em;
text-align: left;
border:1px solid #00cccc;   position:relative
}

.section2 {
  margin-left:5em;
  margin-right:50em;
text-align: left;
border:1px solid #00cccc;   position:relative
}

.section3 {
  margin-left:5em;
  margin-right:50em;
text-align: left;
border:1px solid #00cccc;   position:relative
}

.section4 {
margin-left:5em;
margin-right:50em;
text-align: left;
border:1px solid #00cccc;   position:relative
}

.section5 {
margin-left:5em;
margin-right:50em;
text-align: left;
border:1px solid #00cccc;   position:relative
}

.section6 {
margin-left:5em;
margin-right:50em;
text-align: left;
border:1px solid #00cccc;   position:relative
}