// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal fade{

  float:right;
  height: 250px;
  width:250px; 
  padding:3px; 
  background:#f00;
}

