<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
    <img alt="Rails" src="/assets/ipay.png" />
      <% if signed_in? %>
      <nav>
        <ul class="nav pull-right">
        	<%unless is_admin?%>
            <li><%= link_to "Employee Info",  profile_employee_path(:emp_id) %></li>
            <%end%>
            <li><%= link_to "Pay Slips", payslips_path %></li>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Declarations & Taxes <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">

                <li><%= link_to "New DeclarationForm", populate_declarations_emp_declaration_path(employee_view) %></li>
                <%unless is_admin?%>
            <%= link_to "Logout", destroy_user_login_session_path, method: :delete, :class => 'navbar-link'  %>
            <%end%>
        </ul>
      </nav>
      <%end%>
    </div>
  </div>
  
</header>

